{{!< main}}
<div id="chat-container">
  <div id="messages"></div>
  <form id="message-form">
    <input type="text" id="message-input" placeholder="Escribe un mensaje..." autocomplete="off">
    <button type="submit">Enviar</button>
  </form>
</div>

